[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
flask = "*"
aniso8601 = "*"
click = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
itsdangerous = "*"
requests = "*"
chess = "*"

[dev-packages]

[requires]
python_version = "3.9"
